.App {
  text-align: center;
  background-color: #201F1D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.App-header {
  color: #FFFCF2;
}

.sequencer-container {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.sequencer-column {
  display: flex;
  flex-direction: column-reverse;
  background: #2B2927;
  border-radius: 2.5px;
  margin: 0 0.25em;
  padding: 0.25em;
}

.note-block {
  width: 30px;
  height: 30px;
  margin: 0.1em 0;
  padding: 10px;
  background: #403D39;
  border: 2px solid #201F1D;
  color: #FFFCF2;
  font-size: 16px;
  border-radius: 5px;
  transition: 140ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-block-active {
  background: #EB5E28;
  color: #201F1D;
}

.note-control-container {
  color: #FFFCF2;
  display: flex;
  background: #2B2927;
  border-radius: 2.5px;
  margin: 0.25em;
  padding: .5em;
  font-size: 14px;
}

.note-control-container > div {
    padding: 0.5em;
    color: #2B2927;
}

.note-control-container > div > span {
  position: relative;
  bottom: 0.5em;
  color: #FFFCF2;
}