.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.keyboard {
  display: flex;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sequencer-container {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.sequencer-column {
  display: flex;
  flex-direction: column-reverse;
}

.note-block {
  width: 30px;
  height: 30px;
  margin: 0.1em 0.6em;
  padding: 10px;
  background: blue;
  font-size: 16px;
}

.note-block-active {
  background: red;
}